@import '/variables/medias';
@import '/variables/helpers';

.container {
  display: flex;
  margin: 0 auto;
  width: $width-content;
  
  @media (max-width: $tablet) {
    display: block;
    width: 100vw;
  }
}

.loader {
  text-align: center;
}
