@import '/variables/colors';
@import '/variables/medias';
@import '/variables/mixins';
@import '/variables/helpers';
@import '/variables/fonts';

.header {
	background-color: $bg-header-color;
	color: $main;
	height: $header-height;
	left: 0;
	line-height: $header-height;
	position: relative;
	text-align: left;
	top: 0;
	width: 100vw;

	&__content {
		height: $header-height;
		margin: 0 auto;
    position: relative;
		width: $width-content;

		@media (max-width: $tablet) {
			width: 100vw;
		}
	}

	&__brand {
		display: inline-block;
		vertical-align: top;
	}

	&__logo {
		display: inline-block;
		line-height: $header-height;
		vertical-align: middle;
	}

	&__menu {
		@include transition(opacity);
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		position: absolute;
		right: 0;

		&:hover {
			@include transition(opacity);
			opacity: .5;

			+ .menu {
				@include transition(opacity);
				display: block;
				opacity: 1;
			}
		}

		&-icon {
			font-size: 1.1em;
			margin-left: 10px;
    	position: relative;
			top: 2px;
		}
	}

	&__search {
		@include border-radius(5px);
		@include transition(all);
		background: $header-height;
		border: 1px solid $header-height;
		cursor: pointer;
		position: absolute;
    right: 80px;
		display: inline-block;
		top: 13px;
		height: 30px;
		width: 0;

		&:hover {
			@include transition(opacity);
			opacity: .5;
		}

		&-input {
			background: $bg-header-color;
			border: 0;
			color: $main;
			font-family: $lato;
			font-size: 14px;
			height: 16px;
			line-height: 16px;
			outline: none;
			position: absolute;
			right: 30px;
			top: 6px;
			width: 0;
		}

		&.active {
			@include transition(all);
			background: $search-dark;
			border: 1px solid $main;
			opacity: 1;
			width: 290px;

			.header__search-input {
				@include transition(width);
				background:$search-dark;
				width: 252px;
			}

			.header__search-icon {
				top: 5px;
				right: 9px;
			}
		}

		&-icon {
			font-size: 18px;
			position: absolute;
			right: 10px;
			top: 6px;
		}
	}
}
