@import '/variables/colors';
@import '/variables/medias';
@import '/variables/helpers';

.header {
	height: $header-height;
	width: 100vw;
	top: 0;
	left: 0;
	line-height: $header-height;
	background-color: $bg-header-color;
	text-align: left;
	position: relative;
	color: $main;

	&__content {
		width: $width-content;
		margin: 0 auto;
    height: $header-height;
    position: relative;

		@media (max-width: $tablet) {
			width: 100vw;
		}
	}

	&__brand {
		display: inline-block;
		vertical-align: top;
	}

	&__logo {
		display: inline-block;
		line-height: $header-height;
		vertical-align: middle;
	}

	&__menu {
		position: absolute;
		right: 0;
		font-size: 12pt;

		&-icon {
			font-size: 1.1em;
			margin-left: 3px;
		}
	}

	&__search {
		position: absolute;
    right: 80px;

		&-icon {
			font-size: .9em;
		}
	}
}
