@import '/variables/colors';

.menu {
  background: $main;
  border: 1px solid $grey-default;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  height: 96px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  right: -17px;
  top: 56px;
  transition: opacity .2s ease-in-out;
  width: 253px;
  z-index: 2;

  &:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $main;
    content: '';
    height: 0;
    position: absolute;
    right: 14px;
    top: -9px;
    width: 0;
    z-index: 4;
  }

  &:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $grey-default;
    content: '';
    height: 0;
    position: absolute;
    right: 14px;
    top: -10px;
    width: 0;
    z-index: 4;
  }

  &:hover {
    display: block;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }

  &__item {
    border-radius: 5px;
    color: $grey-hover;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;

    &:hover {
      background-color: $menu-hover;
    }

    &-icon {
      color: $bg-header-color;
      font-size: 22px;
      margin-right: 10px;
    }
  }
}
