@import '/variables/fonts';
@import '/variables/colors';

body, html {
	background-color: #fff;
	color: $grey-default;
	font-family: $default;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
p, span, i, h1, h2, h3, h4 {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
button, a {
	outline: 0;
}
a {
	cursor: pointer;
	text-decoration: none;
}
main {
	display: inline-block;
}
