@import '/variables/medias';
@import '/variables/colors';
@import '/variables/mixins';

.highlight {
  margin-right: 1.3em;
  width: 59%;

  @media (max-width: $tablet) {
    margin-right: 0;
    width: 100vw;
  }

  &__title {
    height: 4.5em;
    line-height: 4.3em;

    h1 {
      color: $bg-header-color;
      font-size: 1.7em;
      font-weight: normal;
    }
  }

  &__video {
    display: flex;
  }

  &__desc {
    border: 1px solid $grey-default;
    box-shadow: 0px 3px 3px $grey-default;
    margin: 1.2em 0;
    padding: .7em;

    &__title {
      display: block;
      color: $bg-header-color;
      font-size: 18px;
      padding: .1em .5em .5em;
    }

    &__text {
      font-size: 14px;
      padding: 0 .5em;
    }
  }
}
